@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
body
{
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    height: 100%;
    max-width: 100%;
    overflow-x:hidden;
}


/* navbar end */
/* Home section start */
.bg-image
{
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-bottom: 1px solid white;
    color: white !important;
    font-size: 90px;
    font-weight: 800;

    overflow-x:hidden;
}






  
  .bg-gallery{
    height: 55vmin;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;

    overflow-x:hidden;
  }

  .bg-educ section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 40vh;
    margin:20px;

    grid-template-areas:
    'description . . figure';
  }
  
  figure img{
    max-width: 40vw;
    max-height: 40vh;
  }
  
  
  figcaption p{
    text-align: center;
    width: 50vw;
    color: black;
  }
  
 section figcaption{
  grid-area: description;
 }

 section figure{
  grid-area: figure;
 }
  .hidden{
    opacity:0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  
  
    .show{
      opacity:1;
      filter: blur(0);
      transform: translateX(0);
    }
  
  /* Education section with flex box  */

  .bg-educ {
    height: 150vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x:hidden;
  }



  /* Contact section with flex box */

  .bg-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 50vh;
    margin:0%;
    overflow-x:hidden;
    transition:1s;
  }

  
  .container-contact{
    font-size:90px;
    color:black;
  }

